@model WebApp.ViewModels.PostDetailsViewModel
@using WebApp.Utilities

<div class="card">
	<div class="card-body">
		<h2 class="card-title">@Model.Post.Title</h2>
		<div class="category-block">
			<ul class="list-group list-group-horizontal list-unstyled mt-2 mb-2 text-light">
				@foreach (var category in Model.Post.Categories)
				{
					<a href="@Url.Action("Index", "Home", new { category = category.Id })" class="list-group-item btn-group-body m-2 list-group-item-secondary" >@category.Name</a>
				}
			</ul>
		</div>
		<p class="card-text">@Model.Post.Body</p>
		<p class="card-text"><small class="text-muted">Posted: @ViewHelperUtilities.ToTimeAgo(Model.Post.CreatedDateTime)</small></p>
		<a href="@Url.Action("Index", "Home", new { author = Model.Post.Author.Id })" class="card-text text-decoration-none"><small class="text-muted">Author: @Model.Post.Author.Email</small></a>
		
	</div>
</div>