@model WebApp.ViewModels.PostDetailsViewModel

@{
	string ToTimeAgo(DateTime time)
	{
		TimeSpan timeSinceCreation = DateTime.Now - time;

		if (timeSinceCreation.TotalSeconds < 60)
		{
			int seconds = (int)timeSinceCreation.TotalSeconds;
			return $"{seconds} second{(seconds != 1 ? "s" : "")} ago";
		}

		if (timeSinceCreation.TotalMinutes < 60)
		{
			int minutes = (int)timeSinceCreation.TotalMinutes;
			return $"{minutes} minute{(minutes != 1 ? "s" : "")} ago";
		}

		if (timeSinceCreation.TotalHours < 24)
		{
			int hours = (int)timeSinceCreation.TotalHours;
			return $"{hours} hour{(hours != 1 ? "s" : "")} ago";
		}

		return time.ToString("yyyy-MM-dd");
	}
}

<div class="card">
	<div class="card-body">
		<h2 class="card-title">@Model.Post.Title</h2>
		<div class="category-block">
			<ul class="list-group list-group-horizontal list-unstyled mt-2 mb-2 text-light">
				@foreach (var category in Model.Post.Categories)
				{
					<a href="@Url.Action("Index", "Home", new { category = category.Id })" class="list-group-item btn-group-body m-2 list-group-item-secondary" >@category.Name</a>
				}
			</ul>
		</div>
		<p class="card-text">@Model.Post.Body</p>
		<p class="card-text"><small class="text-muted">Posted: @ToTimeAgo(Model.Post.CreatedDateTime)</small></p>
		<p class="card-text"><small class="text-muted">Author: @Model.Post.Author.Email</small></p>
		
	</div>
</div>