@model IEnumerable<Post>

@functions {
	public string Truncate(string value, int length)
	{
		if (value.Length <= length)
		{
			return value;
		}
		else
		{
			return value.Substring(0, length) + "...";
		}
	}
}
@{
    ViewData["Title"] = "Home Page";
}

@*<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Search</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categories
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					@foreach (var category in new List<string>() { "Tom", "Bob", "Sam" })
					{
						<a class="dropdown-item" href="#">@category</a>
					}
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>*@

<a asp-controller="Posts" asp-action="Create" class="btn btn-xl btn-primary align-self-center mb-2">Add new post</a>
<a asp-controller="Categories" asp-action="Create" class="btn btn-xl btn-primary align-self-center mb-2">Add new category</a>
<div class="text-center">
	<div class="container">
		<div class="row">
			@foreach (var post in Model)
			{
				<div class="col-md-4 mb-4">
					<div class="card h-100">
						<div class="card-body d-flex flex-column">
							<h5 class="card-title">@post.Title</h5>
							<p class="card-text flex-grow-1">@Truncate(post.Body, 100)</p>
							<a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-sm btn-primary align-self-center">Read more</a>
						</div>
						<div class="card-footer">
							<small class="text-muted">Автор: @post.Author.Username</small>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
